/* === CLASSES === */
.fade-enter-active {
  animation: fadeIn 500ms;
  animation-delay: 300ms;
  opacity: 0;
}

.fade-leave-active {
  // animation: fadeIn 500ms;
}
/* ========== */

/* === ANIMATIONS === */
@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-left: -100px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
/* ========== */