/* === CLASSES === */
.fade-in-out-enter-active {
  animation: fadeInLeft 500ms;
  animation-delay: 300ms;
  opacity: 0;
}

.fade-in-out-leave-active {
  // animation: fadeIn 500ms;
}
/* ========== */

/* === ANIMATIONS === */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    margin-left: -100px;
  }

  100% {
    opacity: 1;
    margin-left: 0
  }
}
/* ========== */