/* === CLASSES === */
// OVERLAY
.overlay-fade-enter-active {
  animation: overlayFadeIn 500ms;
}

.overlay-fade-leave-active {
  animation: overlayFadeOut 600ms;
  animation-delay: 250ms;
}

/* === ANIMATIONS === */
// OVERLAY
@keyframes overlayFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes overlayFadeOut {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
}