// GREYVALUES
$snow: #FFF;
$mr-grey: #E3E3E3;
$dawn: #CCCCCC;
$clouds: #C1C1C1;
$mist: #ACACAC;
$storm: #747474;
$texty: #333;
$coal: #000;

// PRIMARY
$pinky: #BA42CC;
$disco: #7326D6;
$lava: #FB3640;
$auwch: #F21B3F;
$yeah: #09A129;