@mixin gradient {
  background: rgb(115,38,214) !important;
  background: linear-gradient(225deg, rgba(115,38,214,1) 0%, rgba(186,66,204,1) 100%) !important;
}

@mixin defaultShadow {
  -webkit-box-shadow: 0px 5px 15px -1px rgba(0,0,0,0.40);
  -moz-box-shadow: 0px 5px 15px -1px rgba(0,0,0,0.40);
  box-shadow: 0px 5px 15px -1px rgba(0,0,0,0.40);
}

@mixin topShadow {
  -webkit-box-shadow: 0px -5px 14px -9px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px -5px 14px -9px rgba(0,0,0,0.45);
  box-shadow: 0px -5px 14px -9px rgba(0,0,0,0.45);
}