.default-modal {
  position: absolute;
  background-color: $snow;
  width: 100%;
  z-index: 5;
  border-radius: $smallRadius;
  overflow: hidden;
  padding: 2rem 0;

  .VueCarousel-slide {
    padding: 0 2rem;
  }

  .h--xxm {
    margin-bottom: 2rem;
  }

  .image-container {
    height: 10rem;
    width: 100%;
    background-color: $mr-grey;
    border-radius: $smallRadius;

    .icons {
      width: 50%;
      margin: 0 auto;
    }

    svg {
      fill: $mist;
      width: 3rem;
    }
  }
}