.default-modal {
  position: absolute;
  background-color: $snow;
  width: 100%;
  z-index: 5;
  border-radius: $smallRadius;
  overflow: hidden;

  .top-content {
    height: 5rem;
    width: 100%;
    background-color: $mr-grey;
  }

  .bottom-content {
    padding: 2rem;
  }

  img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }

  form {
    padding-top: 1rem;
  }
}