.correct {
  &.answer-button {
    background-color: $yeah;

    p {
      color: $snow;
    }
  }
}

.wrong {
  &.answer-button {
    background-color: $auwch;

    p {
      color: $snow;
    }
  }
}