.correct {
  &.answer-button {
    background-color: $yeah;

    p {
      color: $snow;
    }
  }
}

.wrong {
  &.answer-button {
    background-color: $auwch;

    p {
      color: $snow;
    }
  }
}

.box {
  @include defaultShadow;
  overflow: hidden;
  background-color: $snow;
  height: 100%;
  width: 100%;
  border-radius: $smallRadius;

  img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-bottom-left-radius: $largeRadius;
    border-bottom-right-radius: $largeRadius;
  }

  .content {
    padding: 1rem 0 2rem 0;
    height: 100%;
  }
}