// Font sizes.
$jon: 2rem;
$khaleesi: 1.5rem;
$khal-drogo: 1.3125rem;
$bran: 1rem;
$ned: 0.8125rem;
$sansa: 0.625rem;

// Font families.
$montserrat: 'Montserrat', sans-serif;

// Heading.
.heading {
  @include unselectable;
  font-family: $montserrat;
  color: $texty;

  &.h--xl {
    font-size: $jon;
  }

  &.h--l {
    font-size: $khaleesi
  }

  &.h--xxm {
    font-size: $khal-drogo;
  }

  &.h--xm {
    font-size: $bran;
  }

  &.h--m {
    font-size: $ned;
  }

  &.h--s {
    font-size: $sansa;
  }

  &.h--weight {
    &-light {
      font-weight: lighter;
    }

    &-bold {
      font-weight: bold;
    }
  }

  &.h--color {
    &-primary {
      color: $pinky;
    }

    &-mist {
      color: $mist;
    }

    &-dark {
      color: $texty;
    }

    &-light {
      color: $snow;
    }

    &-yeah {
      color: $yeah;
    }
  }

  &.h--align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }
  }
}

// Paragraph.
.paragraph {
  @include unselectable;
  font-family: $montserrat;
  color: $texty;

  &.p--xm {
    font-size: $bran;
  }

  &.p--m {
    font-size: $ned;
  }

  &.p--s {
    font-size: $sansa;
  }

  &.p--align {
    &-center {
      text-align: center;
    }
  }

  &.p--weight {
    &-light {
      font-weight: lighter;
    }

    &-bold {
      font-weight: bold;
    }
  }

  &.p--color {
    &-primary {
      color: $pinky;
    }

    &-dark {
      color: $texty;
    }

    &-lighter {
      color: $storm;
    }

    &-almost-light {
      color: $mist;
    }

    &-light {
      color: $snow;
    }

    &-danger {
      color: $auwch;
    }

    &-yeah {
      color: $yeah;
    }
  }

  &.p--hover-enabled {
    padding: 0.5rem;
    transition: all $fast ease-in-out;
    border-radius: $smallRadius;

    &:hover {
      cursor: pointer;
      background-color: lighten($mr-grey, 5%);
    }
  }
}