.error-span {
  font-size: $sansa;
  color: $lava;
  padding-left: 0.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

.heading {
  color: $pinky;

  &.h--medium {
    font-size: 1rem;
  }

  &.h--small {
    font-size: 0.5rem;
  }
}

.paragraph {
  color: $texty;
}