/* === COLORS === */
// GREYVALUES
$snow: #FFF;
$mr-grey: #E3E3E3;
$clouds: #C1C1C1;
$texty: #333;
$coal: #000;

// PRIMARY
$pinky: #BA42CC;
$disco: #7326D6;
/* ========== */



/* === BORDER RADIUS === */
// LARGE
$largeRadius: 40px;
$smallRadius: 5px;
/* ========== */



/* === FONT SIZES === */
$jon: 2rem;
$khaleesi: 1.5rem;
$bran: 1rem;
$ned: 0.8rem;
$sansa: 0.6rem;
/* ========== */



/* === FONT FAMILIES === */
$montserrat: 'Montserrat', sans-serif;
/* ========== */