/* === COLORS === */
// GREYVALUES
$snow: #FFF;
$clouds: #C1C1C1;
$texty: #333;
$coal: #000;

// PRIMARY
$pinky: #BA42CC;
$disco: #7326D6;
/* ========== */



/* === BORDER RADIUS === */
// LARGE
$largeRadius: 40px;
/* ========== */



/* === FONT SIZES === */
$jon: 2rem;
$khaleesi: 1.5rem;
$bran: 1rem;
/* ========== */