/* === COLORS === */
// GREYVALUES
$snow: #FFF;
$mr-grey: #E3E3E3;
$dawn: #CCCCCC;
$clouds: #C1C1C1;
$mist: #ACACAC;
$storm: #747474;
$texty: #333;
$coal: #000;

// PRIMARY
// ORIGINAL
$pinky: #BA42CC;
$disco: #7326D6;

// $pinky: blue;
// $disco: darkblue;

$lava: #FB3640;
/* ========== */



/* === BORDER RADIUS === */
// LARGE
$largeRadius: 20px;
$smallRadius: 5px;
/* ========== */