.wrapper {
  width: 84%;
  margin: 0 auto !important;

  @include tablet {
    width: $small;
  }

  @include desktop-small {
    width: $medium;
  }

  @include desktop-large {
    width: $large;
  }
}

.big-wrapper {
  width: 94%;
  margin: 0 auto !important;

  @include tablet {
    width: $small;
  }

  @include desktop-small {
    width: $medium;
  }

  @include desktop-large {
    width: $large;
  }
}